[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/home/scrappy/godot/Godot_v3.4.4-stable_x11.64
Name=Godot
Icon=/home/scrappy/godot/icon.png